/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


a{
  color:#000;
}

.head{
  margin:17px 0px;
}

body{
  color:#333;
  margin:33px;
  font-size:13px;
  line-height:18px;

  font-family: verdana, arial, helvetica, sans-serif;
}

.list-text{
  padding:1px 5px 7px 5px;
}

.new_book, h2{
  margin:16px 0px;
}

label{
  display:block;
}
.field{
  margin-bottom:10px;
  padding:1px;
}
.book_title{
  padding:1px 2px;
  border:2px;
}
.actions{
  margin-bottom:10px;
  padding:1px 6px;
}


p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
   margin: 33px;
}
.visited{
  color:#666;
}